@model FestivalAPI.Models.Jour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_jour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_jour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_jour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdJ">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
