@using WebApplication1.ControllersAPI
@using WebApplication1.Models
@model FestivalAPI.Models.Artiste

@{ ViewData["Title"] = "Details";
    IEnumerable<FestivalAPI.Models.Style> styles = WebApplication1.ControllersAPI.API.Instance.GetStylesAsync().Result;
    IEnumerable<FestivalAPI.Models.Pays> pays = WebApplication1.ControllersAPI.API.Instance.GetPaysAsync().Result;}

<h1>@Html.DisplayFor(model => model.Nom) @Html.DisplayFor(model => model.Prenom)</h1>

<div>
    <hr />
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td>Description :</td>
                                <td>@Html.DisplayFor(model => model.Descriptif)</td>
                            </tr>
                            <tr>
                                <td>Pays :</td>
                                <td>@API.Instance.GetPaysAsync(Model.PaysId).Result.Nom</td>
                            </tr>
                            <tr>
                                <td>Style :</td>
                                <td>@API.Instance.GetStyleAsync(Model.StyleId).Result.Nom</td>
                            </tr>
                        </tbody>
                        <br />
                    </table>
                    <div class="col-md-12">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Extrait
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <audio preload="auto" controls loop>
                                                <source src="@Url.Content("~/"+Model.Extrait)" type="audio/mp3">
                                            </audio>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-music fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Retour à la liste des artistes</a>
</div>
