
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{ 
    FestivalAPI.Models.Festivalier festivalier = new FestivalAPI.Models.Festivalier();
    FestivalAPI.Models.Festival festival = new FestivalAPI.Models.Festival();
    FestivalAPI.Models.Organisateur organisateur = new FestivalAPI.Models.Organisateur();
}

@if (HttpContextAccessor.HttpContext.Session.GetInt32("idf") != null)
{
    festivalier = WebApplication1.ControllersAPI.API.Instance.GetFestivalierAsync((int)HttpContextAccessor.HttpContext.Session.GetInt32("idf")).Result;
    festival = WebApplication1.ControllersAPI.API.Instance.GetFestivalAsync(festivalier.FestivalId).Result;

}

@if (HttpContextAccessor.HttpContext.Session.GetInt32("ido") != null)
{
     organisateur = WebApplication1.ControllersAPI.API.Instance.GetOrganisateurAsync((int)HttpContextAccessor.HttpContext.Session.GetInt32("ido")).Result;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Festi'Normandie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Festival Normandie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Festivals
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="Index">Voir festivals</a>
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("category") == "Organisateur")
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Hebergements" asp-action="Index">Gérer hebergements</a>
                            }

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Artistes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Artistes" asp-action="Index">Voir artistes</a>
                            @if ((HttpContextAccessor.HttpContext.Session.GetInt32("idf") != null && HttpContextAccessor.HttpContext.Session.GetString("category").Equals("Festivalier")))
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Artistes" asp-action="ListeFavoris">liste des favoris</a>
                            }
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("category") == "Organisateur")
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="AjoutArtiste">Ajouter artiste</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Scenes" asp-action="Index">Gérer Scène</a>

                            }
                        </div>
                    </li>
                    @if ((HttpContextAccessor.HttpContext.Session.GetInt32("idf") != null && HttpContextAccessor.HttpContext.Session.GetString("category").Equals("Festivalier")))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ami
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="Festivaliers">Participants</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="Demandes">Invitations</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Amis" asp-action="Index">Liste des amis</a>
                            </div>
                        </li>
                    }
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("category") == "Organisateur")
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Festival_Artiste" asp-action="Programme">Programmation</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @festivalier.Pseudo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Activites" asp-action="Index">Rapport des activités par région</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Activites" asp-action="IndexDepartement">Rapport des activités par département</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Activites" asp-action="IndexFestival">Rapport des activités par festival</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Geos" asp-action="Index">Rapport géographique par régions</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Geos" asp-action="IndexDepartement">Rapport géographique par département</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Geos" asp-action="IndexPays">Rapport géographique par pays</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Rapport_Temps" asp-action="Rapport_Temps_Festival_Graphe">Rapport temps par festival</a>
                            </div>
                        </li>

                    }

                </ul>
                @if ((HttpContextAccessor.HttpContext.Session.GetInt32("idf") != null && HttpContextAccessor.HttpContext.Session.GetString("category").Equals("Festivalier") ))
                {

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @festivalier.Pseudo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Vous participez à @festival.Nom</a>
                            @if (festivalier.IsPublished)
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Festivaliers" asp-action="Depublier">Depublier</a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-area="" asp-controller="Festivaliers" asp-action="Publier">Publier</a>
                            }
                            <a class="dropdown-item" asp-area="" asp-controller="Connexion" asp-action="Deconnexion">Se déconnecter</a>
                        </div>
                    </div>

                }
                else if (HttpContextAccessor.HttpContext.Session.GetInt32("ido") != null && HttpContextAccessor.HttpContext.Session.GetString("category").Equals("Organisateur"))
                {
                    <a class="btn btn-primary" asp-area="" asp-controller="Connexion" asp-action="Deconnexion">Se déconnecter</a>


                }
                else
                {
                    <a class="btn btn-primary" asp-area="" asp-controller="Connexion" asp-action="ConnexionFestivalier">Se Connecter</a>
                }
                <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Festivals" asp-action="Index">
                    <input type="text" class="form-control" placeholder="Search for a Festival" name="searchString" value="@ViewData["searchString"]">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Festi'Normandie
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
