@model IEnumerable<FestivalAPI.Models.Festival_Artiste>

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Festival> festivals = WebApplication1.ControllersAPI.API.Instance.GetFestivalsAsync().Result;
    IEnumerable<FestivalAPI.Models.Artiste> artistes = WebApplication1.ControllersAPI.API.Instance.GetArtistesAsync().Result;
    IEnumerable<FestivalAPI.Models.Scene> scenes = WebApplication1.ControllersAPI.API.Instance.GetScenesAsync().Result;
    IEnumerable<FestivalAPI.Models.Jour> jours = WebApplication1.ControllersAPI.API.Instance.GetJoursAsync().Result;
}

<h1>Programm Of Festivals</h1>

<p>
    <a asp-area="" asp-controller="Festival_Artiste" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                Nom Festival
            </th>
            <th>
                Nom Artiste
            </th>
            <th>
                Nom Scene
            </th>
            <th>
                Numero jour
            </th>
            <th>
                Date jour
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @foreach (var it in festivals)
                {
                    if (item.FestivalId == it.IdF)
                    {
                        @Html.DisplayFor(modelItem => it.Nom)}
                }
            </td>
            <td>
                @foreach (var it in artistes)
                {
                    if (item.ArtisteId == it.IdA)
                    {
                        @Html.DisplayFor(modelItem => it.Nom)}
                }
            </td>
            <td>
                @foreach (var it in scenes)
                {
                    if (item.SceneId == it.IdS)
                    {
                        @Html.DisplayFor(modelItem => it.Nom)}
                }
            </td>
            <td>
                @foreach (var it in jours)
                {
                    if (item.JourId == it.IdJ)
                    {
                        @Html.DisplayFor(modelItem => it.Numero_jour)}
                }
            </td>
            <td>
                @foreach (var it in jours)
                {
                    if (item.JourId == it.IdJ)
                    {
                        @Html.DisplayFor(modelItem => it.Date_jour)}
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
