@model FestivalAPI.Models.Festival
@{
    FestivalAPI.Models.Hebergement hebergement = new FestivalAPI.Models.Hebergement();
    hebergement.FestivalId = Model.IdF;
    IEnumerable<FestivalAPI.Models.Type_Hebergement> type_Hebergements = WebApplication1.ControllersAPI.API.Instance.GetType_HebergementsAsync().Result;

}

<h1>Create</h1>

<h4>Hebergement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AjoutHebergement">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@hebergement.FestivalId" />
            <div class="form-group">
                <label asp-for="@hebergement.Nom" class="control-label"></label>
                <input asp-for="@hebergement.Nom" class="form-control" />
                <span asp-validation-for="@hebergement.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@hebergement.Lien" class="control-label"></label>
                <input asp-for="@hebergement.Lien" class="form-control" />
                <span asp-validation-for="@hebergement.Lien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@hebergement.Type_HebergementId" class="control-label">Type d'hébergement </label>
                <a asp-controller="Type_Hebergements" asp-action="Index">  ajoutez un type d'hebergement</a>
                <select class="form-control" asp-for="@hebergement.Type_HebergementId">
                    <option value="">Choisissez une option</option>
                    @foreach (var it in type_Hebergements)
                    {
                        <option value="@it.IDTH">
                            @it.Type
                        </option>
                    }
                </select>
                <span asp-validation-for="@hebergement.Type_HebergementId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
