@model FestivalAPI.Models.Festival
@{
    ViewData["Title"] = "Annuler";
}

<h1>Annuler</h1>

<h3>Etes vous vraiment sûr de vouloir annuler ce festival? Un mail d'annulation sera envoyé à tous les festivaliers et votre compte ainsi que celui de tous vos co-organisateurs seront bientôt définitivement supprimés par le GIMI.</h3>
<div>
    <h4>Festival</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descriptif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Debut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_Debut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Fin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date_Fin)
        </dd>
    </dl>


    <a button type="button" class="btn btn-success" asp-controller="Festivals" asp-action="AnnulerConfirmed">Confirmer l'annulation</a>
    <a button type="button" class="btn btn-danger" asp-controller="Festivals" asp-action="Retour">Retour</a>

</div>
