@using WebApplication1.ControllersAPI
@using WebApplication1.Models
@using FestivalAPI.Models
@model FestivalAPI.Models.Festival
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{ ViewData["Title"] = "Details";
    IEnumerable<FestivalAPI.Models.Hebergement> hebergements = WebApplication1.ControllersAPI.API.Instance.GetHebergementsAsync().Result;
    }

<h1>@Html.DisplayFor(model => model.Nom)</h1>

<div>
    <div class="card mb-3zz">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td>@Html.DisplayFor(model => model.Descriptif)</td>
                            </tr>
                            <tr>
                                <td><strong>Commune</strong></td>

                                <td>@API.Instance.GetLieuAsync(Model.LieuId).Result.Commune</td>

                            </tr>
                            <tr>

                                <td>Lien vers le site de l'hebergement</td>
                                <td>
                                    @foreach (var it in hebergements)
                                    {
                                        if (Model.IdF == it.FestivalId)
                                        {
                                    <a href="@Html.DisplayFor(model => it.Lien)"></a>}
                                    }
                                    
                                </td>
                            </tr>
                            <tr>
                                <td><strong> Date de début </strong>  </td>
                                <td>@Html.DisplayFor(model => model.Date_Debut)</td>
                            </tr>
                            <tr>
                                <td><strong>Date de fin</strong></td>
                                <td>@Html.DisplayFor(model => model.Date_Fin)</td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
