@using WebApplication1.ControllersAPI
@using WebApplication1.Models
@using FestivalAPI.Models
@model FestivalAPI.Models.Festival
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{ ViewData["Title"] = "Details";
    }

<h1>@Html.DisplayFor(model => model.Nom)</h1>

<div>
    <div class="card mb-3zz">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Description</strong></td>
                                <td>@Html.DisplayFor(model => model.Descriptif)</td>
                            </tr>
                            <tr>
                                <td><strong>Commune</strong></td>

                                @if (Model.LieuId != 0)
                                {
                                    <td>@API.Instance.GetLieuAsync(Model.LieuId).Result.Commune</td>
                                }
                                else
                                {
                                    <td>Non-communiqué</td>
                                }
                            </tr>
                            <tr>
                                <td><strong> Date de début </strong>  </td>
                                <td>@Html.DisplayFor(model => model.Date_Debut)</td>
                            </tr>
                            <tr>
                                <td><strong>Date de fin</strong></td>
                                <td>@Html.DisplayFor(model => model.Date_Fin)</td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
