@model IEnumerable<FestivalAPI.Models.Festival>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using WebApplication1.ControllersAPI
@using FestivalAPI.Models

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Festival_Artiste> festival_Artistes = WebApplication1.ControllersAPI.API.Instance.GetFestival_ArtistesAsync().Result;

}


<h1>Liste des festivals</h1>

<div class="card-deck">

    @foreach (var item in Model)
    {
        <div class="card-deck" style="width: 35%; margin-bottom: 15px; margin-right: 5px;">

            <div class="card text-center">
                    <div class="card-body">
                        <img src="@Url.Content("~/"+item.Logo)" alt="Sample Photo" width="300" height="300">
                        <a asp-action="Details" asp-route-id="@item.IdF">
                            @Html.DisplayFor(modelItem => item.Nom)
                        </a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="glyphicon glyphicon-map-marker"></i>
                            <strong>Localisation</strong>
                            @API.Instance.GetLieuAsync(item.LieuId).Result.Commune
                        </li>
                        <li class="list-group-item">
                            <strong>Nombre de places disponible</strong>
                            @Html.DisplayFor(modelItem => item.NbPlacesDispo)
                        </li>
                        <li class="list-group-item">
                            <strong>Il reste  </strong>

                            @{ var i = 0;
                                var Festivaliers = API.Instance.GetFestivaliersAsync().Result;
                                foreach (var festivalier in Festivaliers)
                                {
                                    if (festivalier.FestivalId == item.IdF)
                                    {
                                        i++;
                                    }
                                }
                                var nbPlaceRestante = item.NbPlacesDispo - i; }

                            @nbPlaceRestante places !

                        </li>

                        <a asp-action="Programme" asp-route-id="@item.IdF" class="btn btn-outline-primary ">Voir la programmation</a>


                        <!--div pour le gestionnaire-->
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("category") == "Organisateur")
                        {

                    <div>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestion de festival
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="Edit">Modifier</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="Publier">Publier</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="Depublier">Depublier</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="OuvrirInscriptions">Ouvrir les inscriptions</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Festivals" asp-action="FesrmerInscriptions">Fermer les inscriptions</a>
                            <a class="dropdown-item" asp-action="Annuler">Annuler le festival</a>
                        </div>
                    </div>
  
                        
                            

                            
                        }

                        @if ((@HttpContextAccessor.HttpContext.Session.GetString("category") != "Organisateur") && (@HttpContextAccessor.HttpContext.Session.GetString("category") != "Festivalier"))
                        {
                            <li class="list-group-item">
                                <a asp-action="AjoutFestivalier" asp-route-id="@item.IdF" class="btn btn-primary">Participer</a>
                            </li>
                        }

                    </ul>
                </div>
        </div>}
</div>
