@model IEnumerable<FestivalAPI.Models.Festival>

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Lieu> lieux = WebApplication1.ControllersAPI.API.Instance.GetLieuxAsync().Result;
}

<h1>Festivals Of The Year</h1>



<div class="card-deck">
    @Model.Count()
    @foreach (var item in Model)
    {
        
        <div class="card-deck" style="width: 25%; margin-bottom: 15px; margin-right: 5px;">
            <div class="card text-center">
                    @{
                        <img src="@Url.Content(item.Logo)" class="card-img-top"  /> }


                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Descriptif)</p>


                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdF">Savoir Plus</a>
                    <a class="btn btn-primary"  asp-action="AjoutFestivalier" asp-route-id="@item.IdF" >Participer !</a>
                </div>
            </div>
            </div>
    }
</div>
