@model IEnumerable<FestivalAPI.Models.Festivalier>

@{
    ViewData["Title"] = "Index";
}

<h1><strong>Liste des festivaliers</strong></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">

    @foreach (var item in Model)
    {
        <div class="col">
            <div cclass="card-deck" style="width: 50%; height : 70%; margin-bottom: 15px; margin-right: 5px;">

                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Nom)
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Nb_Participants)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Somme)€(euro)</p>

                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Savoir Plus</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </div>
            </div>
        </div>}

</div>







@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pwd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nb_Participants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Somme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pwd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nb_Participants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Somme)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
