@model FestivalAPI.Models.Scene

@{
    ViewData["Title"] = "Edit";
    DateTime dateJour = new DateTime();
    var scene = new FestivalAPI.Models.Scene();
    var artiste = new FestivalAPI.Models.Artiste();
    IEnumerable<FestivalAPI.Models.Lieu> lieux = WebApplication1.ControllersAPI.API.Instance.GetLieuxAsync().Result;
    IEnumerable<FestivalAPI.Models.Artiste> artistes = WebApplication1.ControllersAPI.API.Instance.GetArtistesAsync().Result;
}

<h1>Edit</h1>

<h4>Scene</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@scene.Nom" class="control-label"></label>
                <input asp-for="@scene.Nom" class="form-control" />
                <span asp-validation-for="@scene.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@scene.Adresse" class="control-label"></label>
                <input asp-for="@scene.Adresse" class="form-control" />
                <span asp-validation-for="@scene.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@scene.Capacite" class="control-label"></label>
                <input asp-for="@scene.Capacite" class="form-control" />
                <span asp-validation-for="@scene.Capacite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@scene.Accessibilite" class="control-label"></label>
                <input asp-for="@scene.Accessibilite" class="form-control" />
                <span asp-validation-for="@scene.Accessibilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lieu</label>
                <select asp-for="@scene.LieuId" class="form-control " asp-items="ViewBag.LieuId">
                    <option value="">--Choisissez une option--</option>
                    @foreach (var it in lieux)
                    {
                        <option value="@it.IdL">
                            @it.Commune
                        </option>
                    }
                </select>
                <span asp-validation-for="@scene.LieuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@dateJour" class="control-label">Date : </label>
                <input asp-for="@dateJour" class="form-control" type="date" />
                <span asp-validation-for="@dateJour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Artiste : </label>
                <select asp-for="@artiste.Nom" class="form-control " asp-items="ViewBag.Nom">
                    <option value="">--Choisissez une option--</option>



                    @foreach (var it in artistes)
                    {
                        <option value="@it.Nom">
                            @it.Nom
                        </option>
                    }
                </select>
                <span asp-validation-for="@artiste.Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
