@model IEnumerable<FestivalAPI.Models.Scene>

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Lieu> Lieux = WebApplication1.ControllersAPI.API.Instance.GetLieuxAsync().Result;

}

<h1>Liste des Scènes</h1>

<p>
    <a asp-area="" asp-controller="Festivals" asp-action="AjoutScene">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                Nom de la scène
            </th>
            <th>
                Adresse
            </th>
            <th>
                Capacité
            </th>
            <th>
                Accessibilité
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accessibilite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdS">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdS">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdS">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>