@model IEnumerable<FestivalAPI.Models.Hebergement>

@{
    ViewData["Title"] = "Index";
    IEnumerable<FestivalAPI.Models.Type_Hebergement> type_Hebergements = WebApplication1.ControllersAPI.API.Instance.GetType_HebergementsAsync().Result;

}

<h1>Index</h1>

<p>
    <a asp-area="" asp-controller="Festivals" asp-action="AjoutHebergement">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <tr>
            <th>
                Nom d'hebergement
            </th>
            <th>
                Lien
            </th>
            <th>
                Type d'hebergement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lien)
            </td>
            <td>
                @foreach (var it in type_Hebergements)
                {
                    if (item.Type_HebergementId == it.IDTH)
                    {
                        @Html.DisplayFor(modelItem => it.Type)}
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdH">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdH">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdH">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
